.post-feed {
  display: flex;
  flex-direction: column;

  @include tablet() {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 100%;
    margin-bottom: 3rem;

    @include tablet() {
      width: 45%;
      //   margin-left: auto;
      //   margin-right: auto;

      &:nth-last-child(3):not(:first-child) {
        margin-left: auto;
        margin-right: auto;
      }
    }

    @include desktop() {
      width: 30%;

      &:nth-last-child(1):not(:nth-child(3)) {
        margin-left: auto;
        margin-right: auto;
      }

      &:nth-last-child(2):not(:nth-child(2)) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__item-cover {
    width: 100%;
    height: auto;
    @include sgl-margins();

    @supports(object-fit: cover) {
      height: 190px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  &__item-summary {
    font-size: (16/18) * 1rem;
    line-height: 1.5rem;
    font-weight: $fw-light;
  }
}
