.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    padding: 0;
    margin: 0 10px;

    &:before {
      content: none;
    }
  }
}
